.sidebar {
  /* position: fixed; */
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
  padding: 90px 0 0;
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
  z-index: 99;
}

@media (max-width: 767.98px) {
  .sidebar {
    top: 11.5rem;
    padding: 0;
  }
}

.navbar {
  box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .1);
}

@media (min-width: 767.98px) {
  .navbar {
    top: 0;
    position: sticky;
    z-index: 999;
  }
}

.sidebar .nav-link {
  color: #333;

}

.sidebar .nav-link.active {
  color: #0d6efd;
}
.dropdown-item:hover{
background-color: #6c757d;
color:#fff;

}

.nav-link {
display: flex;
align-items: center;
padding: 10px 15px;
width: 100%;
/* border-radius: 8px; */
text-decoration: none;
color: #333;
transition: background 0.3s, color 0.3s;
}

.nav-link:hover {
background-color: #6c757d; /* fondo suave al pasar el mouse */
color: #fff; /* opcional: color más fuerte al hacer hover */
filter: brightness(130%);
width: 100%;
}

.nav-link svg {
margin-right: 8px;
}

.ml-2 {
margin-left: 0; /* o puedes eliminar esta clase si ya usas margin-right en el ícono */
}
